@import '/src/styles/theme.module.scss';

.CaseStudy {
  &__Container {
    margin-bottom: 100px;
  }

  &__Header {
    position: relative;
    margin: 150px auto 100px auto;
    @include mq('sm') {
      transition: all 0.2s ease-in-out;
    }

    @include mq('md') {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-direction: row-reverse;
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
      @include mq('md') {
        display: block;
      }
    }

    &__Title {
      width: 100%;
      margin-bottom: 50px;
      @include mq('md') {
        width: 40%;
        margin-bottom: 0;
      }

      h1 {
        margin-bottom: 20px;
      }
    }

    &__Image {
      width: 100%;
      @include mq('md') {
        width: 60%;
      }

      img {
        width: 100%;
        border: 2px solid;
      }
    }

    &__Line {
      border-top: 2px solid black;
      height: 0;
      min-width: 100vw;
      margin-left: calc((100% - 100vw) / 2);
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
    }

    &__List {
      width: 100%;
      overflow: hidden;
      ul {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        list-style: none;
        animation: scroll 8s linear infinite;
        @include mq('sm') {
          animation: scroll 10s linear infinite;
        }
        li {
          flex: 0 0 auto;
          margin-right: 20px;
        }
      }
      @keyframes scroll {
        0% {
          transform: translateX(100%);
        }

        100% {
          transform: translateX(-140%);
          @include mq('sm') {
            transform: translateX(-105%);
          }
        }
      }
    }
  }

  &__Body {
    margin-bottom: 100px;
    width: 100%;
    @include mq('md') {
      width: 60%;
    }

    h2 {
      font-family: $case-study-font-family;
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 10px;
      letter-spacing: 0.1em;
      font-weight: 300;
    }
  }

  &__SideBar {
    width: 100%;
    @include mq('md') {
      width: 40%;
    }
  }
}

@keyframes boxExpand {
  0% {
    width: 30px;
  }
  100% {
    width: 100%;
  }
}

.ContentContainer {
  @include mq('md') {
    display: flex;
    gap: 30px;
  }
}
