@import '/src/styles/theme.module.scss';

.CaseStudy {
  &__Container {
    margin-bottom: 100px;
  }

  &__Header {
    padding-top: 100px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
    position: relative;

    @include mq('sm') {
      padding-top: 150px;
      transition: all 0.2s ease-in-out;
    }

    &__Text {
      margin-bottom: 40px;
      padding: 30px;
    }

    &__Line {
      border-top: 2px solid black;
      height: 0;
      width: 100%;
    }

    &__Box {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0;
      margin-top: -17px;
      animation: boxExpand 1s ease-in-out;
      animation-delay: 500ms;
      animation-fill-mode: forwards;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
  }

  &__Body {
    padding-left: 0;
    margin-bottom: 100px;
    width: 100%;

    @include mq('md') {
      padding-left: 30px;
    }
  }
}

@keyframes boxExpand {
  0% {
    width: 30px;
  }
  100% {
    width: 100%;
  }
}

.ContentContainer {
  @include mq('md') {
    display: flex;
    flex-direction: row-reverse;
  }
}
