@import '/src/styles/theme.module.scss';

.Button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    letter-spacing: 3px;
  }
}
