@import '/src/styles/theme.module.scss';

.CaseStudies {
  padding: 0 30px;

  @include mq('sm') {
    padding: 0 50px;
  }

  @include mq('md') {
    padding: 0;
    max-width: 550px;
    margin: 0 auto;
  }
}

.CaseStudy {
  margin-bottom: 60px;
  position: relative;
  cursor: pointer;

  &__number {
    font-family: 'Shrimp', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
  }

  &__line {
    border-top: 2px solid black;
    width: 100%;
    transition: 0.4s ease-in-out;
    transition-delay: 0.4s;
  }

  .BoxContainer {
    display: flex;
    justify-content: right;
  }

  &__box {
    width: 20px;
    max-height: 20px;
    margin-top: -12px;
    position: relative;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.4s ease-in-out 0s, width 0.4s ease-in-out 0.4s;

    &__active {
      width: 100%;
      max-height: 500px;
      margin: -12px 0 0 auto;
      transition: width 0.4s ease-in-out 0s, max-height 0.4s ease-in-out 0.4s;
    }

    &__collapse {
      display: none;

      &__active {
        width: 15px;
        border-top: 2px solid white;
        margin-top: 20px;
        margin-bottom: -20px;
        margin-right: 20px;
      }
    }

    &__content {
      padding: 40px 40px 0 40px;

      &__title {
        font-family: 'Shrimp', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;

        font-size: 30px;
        color: white;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}

.ActiveLine {
  width: 0;
  transition: 0.4s ease-in-out;
}

.ActiveTitle {
  letter-spacing: 4px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.ButtonContainer {
  min-height: 50px;
  display: flex;
  justify-content: right;
}

.CollapseContainer {
  display: flex;
  justify-content: right;
}
