@import '/src/styles/theme.module.scss';

.CaseStudies {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

  padding: 0 30px;
  margin-bottom: 200px;
  margin-top: -150px;
  padding-top: 150px;

  @include mq('sm') {
    padding: 0 50px;
    padding-top: 150px;
  }

  @include mq('md') {
    padding: 0;
    padding-top: 150px;
    max-width: $content-width;
    min-width: $content-width;
    margin: -150px auto 200px auto;
  }

  &__Scroll {
    opacity: 1; /* Initial opacity for the scrolling state */
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
}

.CaseStudy {
  margin-bottom: 100px;
  position: relative;
  cursor: pointer;
  transition: 200ms ease-in-out;

  &__Title {
    transition: 200ms ease-in-out;

    &:hover {
      letter-spacing: 2px;
      transition: 200ms ease-in-out;
    }
  }

  &__Line {
    border-top: 2px solid black;
    width: 100%;
    transition: 0.4s ease-in-out;
    transition-delay: 0.4s;

    &__Active {
      width: 0;
      transition: 0.4s ease-in-out;
    }
  }

  .BoxContainer {
    display: flex;
    justify-content: right;
  }

  &__Box {
    width: 20px;
    height: auto;
    max-height: 20px;
    margin-top: -12px;
    position: relative;
    right: 0;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $box-shadow;
    transition: max-height 0.4s ease-in-out 0s, width 0.4s ease-in-out 0.4s;

    &__Active {
      @extend .CaseStudy__Box;
      width: 100%;
      max-height: 500px;
      margin: -12px 0 0 auto;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      transition: width 0.4s ease-in-out 0s, max-height 0.4s ease-in-out 0.4s;
    }

    &__Collapse {
      width: 15px;
      border-top: 2px solid white;
      margin-top: 20px;
      margin-bottom: -20px;
      margin-right: 20px;
      opacity: 0;
      transition: opacity 0.2s ease-in;

      &__Active {
        @extend .CaseStudy__Box__Collapse;
        opacity: 1;
        transition: opacity 0.2s ease-in 500ms;
      }
    }

    &__Content {
      padding: 40px 40px 0 40px;
      opacity: 0;
      transition: opacity 0.2s ease-in;

      &__Active {
        @extend .CaseStudy__Box__Content;
        opacity: 1;
        transition: opacity 0.2s ease-in 500ms;
      }

      p {
        margin-bottom: 20px;
      }
    }
  }
}

.ActiveTitle {
  letter-spacing: 4px;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.ButtonContainer {
  min-height: 50px;
  display: flex;
  justify-content: right;
}

.CollapseContainer {
  display: flex;
  justify-content: right;
}
