@import '/src/styles/theme.module.scss';

.CaseStudy {
  margin-bottom: 60px;
  position: relative;

  &__number {
    font-family: 'Shrimp', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
  }

  &__title {
    font-family: 'Shrimp', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }

  &__line {
    border-top: 2px solid black;
  }

  &__box {
    width: 20px;
    height: 20px;
    margin-top: -12px;
    position: absolute;
    right: 0;
  }
}
