@import 'src/styles/theme.module.scss';

.HeroImage {
  display: flex;
  justify-content: center;

  &__Image {
    padding-top: 50px;
    width: 100%;
    height: auto;
    max-width: 747px;
    transition: all 0.2s ease-in-out;

    @include mq('sm') {
      padding-top: 150px;
    }

    @include mq('md') {
      padding-top: 200px;
    }
  }
}

.Line {
  border-bottom: 2px solid $line-purple;
  margin-top: -3.6%;

  @include mq('md') {
    margin-top: -33px;
  }
}

.HeroText {
  margin: 15px auto 0 auto;
  width: 730px;

  @include mq('sm') {
    margin-top: 25px;
  }

  @include mq('md') {
    margin-top: 30px;
  }

  &__link {
    font-family: Shrimp;
    text-transform: uppercase;
    color: $link-grey;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      color: $colour-orange;
    }

    @include mq('sm') {
    }
  }
}
