@import 'src/styles/theme.module.scss';

.HeroTop {
  display: flex;
  justify-content: center;
  &__Container {
    height: 45vh;
    height: 45svh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -60px;
    animation: fadeInFromLeft 1.5s normal forwards ease 1s;
    @include mq('sm') {
      margin-top: 20px;
    }
  }

  &__Image {
    width: 90%;
    height: auto;
    max-height: 50vh;
    max-width: $content-width;
    transition: all 0.2s ease-in-out;
    filter: contrast(1.1);
    animation: fadeInFromLeft 1.5s normal forwards ease 1s,
      breathing 3s infinite;
    opacity: 0;

    @include mq('sm') {
      width: 100%;
      height: auto;
    }
  }
}

.Line {
  border-bottom: 2px solid $line-purple;
  margin-top: -3.5%;
  animation: lineExpand 1s normal forwards ease;

  @include mq('sm') {
    margin-top: -3.7%;
  }

  @include mq('md') {
    margin-top: -1.5em;
  }
}

.HeroBottom {
  margin: 15px auto 0 auto;
  max-width: $content-width;

  @include mq('sm') {
    margin-top: 25px;
  }

  @include mq('md') {
    margin-top: 30px;
  }
  &__Container {
    margin-bottom: 150px;
    animation: fadeInFromTop 1s normal forwards ease;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
