@import '/src/styles/theme.module.scss';

.Line {
  border-top: 2px solid black;
  z-index: -1;
  margin-top: 20px;
  margin-bottom: 100px;
  animation: lineExpand 1s normal forwards ease;

  @include mq('sm') {
    margin-top: -30px;
  }
}

.About {
  &__Header {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeInFromLeft 1.5s normal forwards ease 800ms;

    @include mq('sm') {
      flex-direction: row;
    }

    &__Image {
      border-radius: 150px;
      background: black;
    }

    &__Title {
      color: $title-purple;
    }
  }

  &__Skills {
    margin-bottom: 100px;
  }

  &__Content {
    margin: 0 auto;
    max-width: $content-width;
    opacity: 0;
    animation: fadeInFromBottom 1.5s normal forwards ease 1400ms;

    p {
      @extend .P;
    }

    &__Body {
      margin-bottom: 200px;
    }
  }
}
