@import '/src/styles/theme.module.scss';

.ContentContainer {
  @include mq('md') {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;
    flex-wrap: wrap;
  }
}

.CaseStudy {
  &__Container {
    margin-bottom: 100px;
  }

  &__Header {
    position: relative;
    margin: 0 auto 100px auto;
    opacity: 0;
    animation: fadeInFromLeft 1.5s normal forwards ease 800ms;
    @include mq('sm') {
      transition: all 0.2s ease-in-out;
    }

    @include mq('md') {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-direction: row-reverse;
    }

    &__Button {
      display: flex;
      gap: 10px;
      align-items: center;
      box-shadow: $box-shadow;

      &:hover {
        .CaseStudy__Header__Button__Icon {
          transition: 200ms ease-in-out;
          filter: invert(0);
        }
      }

      &__Icon {
        color: white;
        filter: invert(1);
        transform: translateY(-3px);
        transition: 200ms ease-in-out;
      }
    }

    &__Title {
      width: 100%;
      margin-bottom: 50px;
      @include mq('md') {
        width: 40%;
        margin-bottom: 0;
      }

      h1 {
        margin-bottom: 20px;
      }
    }

    &__Image {
      width: 100%;

      @include mq('md') {
        width: 60%;
      }

      img {
        width: 100%;
        height: auto;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
      }
    }

    &__Line {
      border-top: 2px solid black;
      height: 0;
      min-width: 100vw;
      margin-left: calc((100% - 100vw) / 2);
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      animation: lineExpand 1s normal forwards ease;
    }
  }

  &__Body {
    margin-bottom: 150px;
    width: 100%;
    opacity: 0;
    animation: fadeInFromBottom 1.5s normal forwards ease 1400ms;
    @include mq('md') {
      max-width: $content-width;
      margin: 0 auto 50px auto;
    }

    h2 {
      @extend .H2;
    }

    p {
      @extend .P;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
      margin-bottom: 30px;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }

  &__SideBar {
    width: 100%;
    @include mq('md') {
      max-width: $content-width;
    }
  }
}
