$colour-orange: #ff8600;
$colour-blue: #0aa7a5;
$colour-red: #bc285b;
$colour-purple: #9031ab;

:export {
  ColourRed: $colour-red;
  ColourBlue: $colour-blue;
  ColourOrange: $colour-orange;
  ColourPurple: $colour-purple;
}

$line-purple: #330c3f;
$link-grey: #b3b2b0;
