// Colours sampled from hero image. Sample new colours if image is changed!
$colour-red: #bc285b;
$colour-blue: #0aa7a5;
$colour-orange: #ff8600;
$colour-purple: #9031ab;
$colour-yellow: #ffc000;

// Export for use in RandomColour util
:export {
  ColourRed: $colour-red;
  ColourBlue: $colour-blue;
  ColourOrange: $colour-orange;
  ColourPurple: $colour-purple;
  ColourYellow: $colour-yellow;
}

$line-purple: #330c3f;
$link-grey: #b3b2b0;
