@import './theme.module.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Shrimp';
  src: url('../../public/fonts/SHRIMP.woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 30px;
  max-width: 1440px;

  @include mq('sm') {
    margin: 0 auto;
    padding: 0 50px 0 50px;
  }
}

.content {
  max-width: 550px;
  margin: 0 auto;
}
