@import './breakpoints.module.scss';
@import './colours.module.scss';

.H1 {
  font-family: Shrimp;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 100;

  &__hero {
    font-size: 8vw;
    line-height: 9vw;

    span {
      color: $colour-blue;
    }

    @include mq('md') {
      font-size: 3em;
      line-height: 50px;
      letter-spacing: 0.1em;
    }
  }

  &__CaseStudyPage {
    font-size: 60px;
  }
}

.P {
  &__PrimaryNav {
    font-family: Shrimp, sans-serif;
  }

  &__CaseStudy {
    &__Title {
      font-family: 'Shrimp', sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 2px;
      margin-bottom: 20px;
      transition: 0.4s ease-in-out;
    }

    &__Number {
      font-family: 'Shrimp', sans-serif;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1.5px;
      margin-bottom: 15px;
    }

    &__Snippet {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1em;
      font-size: 12px;
      color: white;
    }
  }

  &__CaseStudyPage {
    &__Body {
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.1em;
      font-size: 12px;
    }

    &__Number {
      font-family: 'Shrimp', sans-serif;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 1.5px;
      margin-bottom: 15px;
    }
  }
}
