@import 'src/styles/theme.module.scss';

.PrimaryNavMd {
  position: fixed;
  background: white;
  height: 80px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  left: 0;
  right: 0;
}

.Logo {
  width: 40px;
  height: auto;
  transition: all 0.3s ease-in-out;
  @include mq('sm') {
    width: 60px;
  }
}

.Nav {
  display: none;
  @include mq('md') {
    display: block;
    ul {
      list-style: none;
      display: flex;
      cursor: pointer;

      li {
        margin-left: 100px;
      }
    }
  }
}

.NavBurger {
  width: 100%;

  @include mq('md') {
    display: none;
  }

  &__ItemsContainer {
    display: flex;
    justify-content: right;
    margin-top: 60px;

    @include mq('md') {
      display: none;
    }

    &__Items {
      background: white;
      padding: 40px 50px 20px 50px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      position: absolute;
      min-height: 10px;
      list-style: none;
      text-align: right;
      min-width: 20px;
      li {
        padding-bottom: 20px;
      }
    }
  }
}

.BurgerContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  height: 30px;
}

.Hamburger {
  z-index: 100;
  position: absolute;
  width: 30px;
  max-height: 30px;
  cursor: pointer;
}
