@import 'src/styles/theme.module.scss';

.PrimaryNav {
  position: fixed;
  width: 100%;
  background: white;
  height: 80px;
  z-index: 99;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);

  @include mq('sm') {
    height: 100px;
  }
}

.Logo {
  width: 40px;
  height: auto;
  margin-top: 20px;

  @include mq('sm') {
    width: 60px;
  }

  transition: all 0.3s ease-in-out;
}
