.FooterContainer {
  margin-top: auto;
  padding-top: 100px;
}

.Footer {
  background: black;

  &__Content {
    min-height: 200px;
    display: flex;
    align-items: center;
    &__Logo {
      width: 100px;
      height: auto;
    }
  }
}
