@import '/src/styles/theme.module.scss';

.RelatedPosts {
  min-width: 00px;
  width: 100%;

  @include mq('md') {
    max-width: 350px;
  }

  &__Post {
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    p {
      letter-spacing: 2px;
      transition: all 200ms ease-in-out;
    }
    &:hover p {
      letter-spacing: 2.5px;
      transition: all 200ms ease-in-out;
    }
  }
}

.ButtonContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Arrow {
  font-family: monospace;
}
